@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap);


:root {
  /* Fonts */
  --text-font-family: Roboto;
  --text-font-is-google: 1;
  --text-font-family-fallback: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial;
  --text-font-base: sans-serif;
  --header-font-family: Roboto;
  --header-font-is-google: 1;
  --header-font-family-fallback: Georgia, serif;
  --code-font-family: 'Courier New';
  --code-font-is-google: 0;
  --base-font-size: 20px;
  --header-h1-font-size: 30pt;
  --header-h2-font-size: 24pt;
  --header-h3-font-size: 20pt;
  --text-font-size: 18pt;

  /* Colors */
  --text-color: #272822;
  --header-color: #FFFFFF;
  --background-color: #FFFFFF;
  --text-bold-color: #272822;
  --code-highlight-color: rgba(255,255,0,0.5);
  --inverse-text-color: #FFFFFF;
  --inverse-background-color: #0F2E3D;
  --inverse-header-color: #FFFFFF;
  --title-slide-background-color: #0F2E3D;
  --title-slide-text-color: #FFFFFF;
  --header-background-color: #0F2E3D;
  --header-background-text-color: #FFFFFF;
  --progressbar-color: #0F2E3D;
}

html {
  font-size: var(--base-font-size);
}

body {
  font-family: var(--text-font-family), var(--text-font-family-fallback), var(--text-font-base);
  font-weight: 300;
  color: var(--text-color);
}
h1, h2, h3 {
  font-family: var(--header-font-family), var(--header-font-family-fallback);
  font-weight: 600;
  color: var(--header-color);
}
.remark-slide-content {
  background-color: var(--background-color);
  font-size: var(--text-font-size);
  padding: 16px 64px 16px 64px;
  width: 100%;
  height: 100%;
}
.remark-slide-content h1 {
  font-size: var(--header-h1-font-size);
}
.remark-slide-content h2 {
  font-size: var(--header-h2-font-size);
}
.remark-slide-content h3 {
  font-size: var(--header-h3-font-size);
}
.remark-slide-content h4 {
  font-size: var(--header-h3-font-size);
  margin-bottom: 0px;
}

.remark-code, .remark-inline-code {
  font-family: var(--code-font-family), Courier New, monospace;
  background: #F5F5F5; /* lighter */
}

.remark-slide-number {
  color: #284185;
  opacity: 1;
  font-size: 0.9rem;
}

.inverse {
  background-color: var(--inverse-background-color);
  color: var(--inverse-text-color);

}
.inverse h1, .inverse h2, .inverse h3 {
  color: var(--inverse-header-color);
}
.title-slide, .title-slide h1, .title-slide h2, .title-slide h3 {
  color: var(--title-slide-text-color);
}
.title-slide {
  background-color: var(--title-slide-background-color);
  background-position: bottom right;
}
.title-slide .remark-slide-number {
  display: none;
}
/* Two-column layout */
.left-column {
  color: black;
  width: 20%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 49%;
}
.pull-right {
  float: right;
  width: 49%;
}
.pull-right + * {
  clear: both;
}
img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th {
  border-bottom: 1px solid #ddd;
}

th, td {
  padding: 5px;
}
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) {
  background: #eee;
}
table.dataTable tbody {
  background-color: var(--background-color);
  color: var(--text-color);
}
table.dataTable.display tbody tr.odd {
  background-color: var(--background-color);
}
table.dataTable.display tbody tr.even {
  background-color: #eee;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: var(--text-color);
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: var(--text-color) !important;
}

/* Slide Header Background for h1 elements */
.remark-slide-content.header_background > h1,
.remark-slide-content:not(.normal):not(.inverse):not(.title):not(.middle):not(.bottom) > h1 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--header-background-color);
  color: var(--header-background-text-color);
  padding: 1.5rem 64px 1.5rem 64px;
  margin-top: 0;
  box-sizing: border-box;
}
.remark-slide-content.header_background,
.remark-slide-content:not(.normal):not(.inverse):not(.title):not(.middle):not(.bottom) {
  padding-top: 5.5rem;
}

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/*my stuff*/

.col1 {
  color: #4C7488;
}
.col2{
  color: #D78974;
}
.col3{
  color:#D7BC74;
}

.large { font-size: 130% }
.small { font-size: 70% }
.tiny{font-size: 40%}

h1 .remark-inline-code{
  color: #FFFFFF;
  background: var(--inverse-background-color);
}

.inverse .remark-slide-number {
  display: none;
}

.inverse .remark-inline-code {
  color: #FFFFFF;
  background: var(--inverse-background-color);
}
.inverse strong {
  color: #FFFFFF;
}

/* title slide*/
.title-slide .inverse {
  padding: 64px 16px 16px 64px;
}

.title-slide h2{
  font-size: 26pt;
}

.title-slide h3{
  font-size: 16pt;
}

.title-slide h1{
  font-size: 42pt;
}

h2{
  color: #000;
}

.footnote-right {
  position: absolute;
  bottom: 10px;
  right: 80px;
  font-size: 0.9em;
  padding-left: 4em;
}

.footnote-left {
  position: absolute;
  bottom: 20px;
  font-size: 0.9em;
  padding-right: 4em;
}

/* Two-column layout */

.left-column {
  width: 30%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 65%;
  float: right;
  padding-top: 1em;
}

.left-column-large {
  width: 65%;
  height: 92%;
  float: left;
}
.left-column-large h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column-small {
  width: 30%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 49%;
}
.pull-right {
  float: right;
  width: 49%;
}
/*
.remark-slide-number {
  position: inherit;
}
.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 4px;
  display: block;
  left: 0;
  right: 0;
}
.remark-slide-number .progress-bar {
  height: 100%;
  background-color: var(--progressbar-color);
}
*/
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }
.font-mono {
  font-family: monospace;
}

#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 75px;
    right: 0px;
}

pre {
  white-space: pre-wrap;
}

/******************
 *
 * Coloured content boxes
 *
 ****************/


.content-box {
    box-sizing: content-box;
}


.content-box-blue,
.content-box-gray,
.content-box-grey,
.content-box-neutral,
.content-box-duke-green,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
    border-radius: 15px;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    width: 100%;
}


.content-box-blue {
    /* set opacity in last decimal value of rgba */
    background-color: #4C7488;

}
.content-box-blue .remark-inline-code {
  background-color: #4C7488;
}



.content-box-gray {
    /* set opacity in last decimal value of rgba */
    background-color: rgb(102, 102, 102);
    background-color: rgba(102, 102, 102,.85);
}

.content-box-neutral {
  background-color: #988675;
}

.content-box-green {
  /* set opacity in last decimal value of rgba */
	background-color: rgb(161, 183, 13);
  background-color: rgba(161, 183, 13,.85);
}

.content-box-red {
  /* set opacity in last decimal value of rgba */
	background-color: #D78974;
}

.content-box-red .remark-inline-code {
  background-color: #D78974;
}

.content-box-yellow {
  /* set opacity in last decimal value of rgba */
  background-color: #D7BC74;
}

.content-box-yellow .remark-inline-code {
  background-color: #D7BC74;
}



.full-width {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
}



