.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

slides/img/
slides/*.html
slides/*.pdf
sessions/slides/*_files/
sessions/slides/*_cache/

tasks/*/*.html
additional_docs/*.pdf
data/*
R/byod/2023_02_tips/pdb_files/
R/byod/

/.quarto/
R/byod/2023_02_tips/Hidago_bulkseq.xlsx
R/byod/2023_02_tips/dnaseq/heatmap_genes
R/byod/2023_02_tips/dnaseq/heatmap_genes.csv
R/byod/2023_02_tips/dnaseq/limma-voom_luminalpregnant-luminallactate
R/byod/2023_02_tips/dnaseq/limma-voom_normalised_counts
R/byod/2023_02_tips/dnaseq/normalized_counts.csv
R/byod/2023_02_tips/dnaseq/raw_counts
R/byod/2023_02_tips/dnaseq/raw_counts.tsv
R/byod/2023_02_tips/dnaseq/DE_results.csv
/R/quarto_example_files
/sessions/slides/*_files
/R/byod/2024_03_tips
R/random_groups.R

# Ignore all folders with _cache in their names
*_cache/
*_files

# Ignore the _freeze folder
_freeze/
