/*-- scss:defaults --*/

// Match the slide theme's blue for links
$link-color: #3670a8;

/*-- scss:rules --*/

.slide-deck {
  border: 3px solid #dee2e6;
  width: 100%;
  height: 475px;
}

@media only screen and (max-width: 600px) {
 .slide-deck {
    height: 400px;
  }
}

.r_class_solution {
  display: none;
}

.r_day1_content,
.r_day2_content,
.r_day3_content {
  display: none;
}
